@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	border: none;
	outline: none;
	scroll-behavior: smooth;
	font-family: 'Roboto', sans-serif;
}

:root {
	--primary-color: #13131F;
	--secondary-color: #8257E6;
	--tertiary-color: #62FEC9;
	--text-color: #D9D9D9;
	--title-color: #FFF;
}

html {
	overflow-x: hidden;
	overflow-y: auto;
}

body {
	min-height: 100vh;
	min-width: 100vw;
	background: var(--primary-color);
	color: var(--text-color);
}

.main {
	display: flex;
	flex-direction: column;
}

.content {
	display: flex;
}

.header {
	width: 100%;
	padding: 0.5rem;
	text-align: center;
	border-bottom: 1px solid var(--secondary-color);
	background: var(--primary-color);
	z-index: 1;
}

.header span {
	font-size: 24px;
	font-weight: 700;
	color: var(--title-color);
}


.profile {
	width: 500px;
	border-right: solid 1px var(--secondary-color);
}

.profile-user {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	padding: 10px;
	margin: 10px;
	border-bottom: 1px solid var(--tertiary-color);
}

.profile-user img {
	width: 130px;
	height: 130px;
	border-radius: 100%;
	border: 1px solid var(--secondary-color);
}

.profile-user-name {
	font-size: 18px;
	font-weight: 700;
	color: var(--title-color);
}

.job-descrition {
	font-size: 14px;
	font-style: italic;
	color: var(--title-color);
}

.btn-baixar-cv {
	padding: 10px 20px 10px 20px;
	border-radius: 8px;
	border: 1px solid var(--secondary-color);
}

.btn-baixar-cv a {
	color: var(--tertiary-color);
	font-size: 14px;
}

.profile-data {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 20px;
	margin: 10px;
	border-bottom: 1px solid var(--tertiary-color);
}

.profile-data span {
	font-size: 16px;
	display: flex;
	align-items: center;
	width: 100%;
	gap: 15px;
}

.link {
	color: var(--text-color);
}

.course {
	font-size: 16px;
	display: flex;
	flex-direction: column;
	gap: 5px;
	margin: 10px;
}

.informations {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.aboutme {
	display: flex;
	flex-direction: column;
	width: 90%;
	margin-top: 30px;
}

.aboutme span {
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	border: dashed 1px var(--tertiary-color);
	padding: 8px;
}

.aboutme p {
	font-size: 16px;
	font-weight: 400;
	line-height: 25px;
}

.skills {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
	margin-top: 30px;
}

.skills span {
	width: 100%;
	text-align: center;
	font-size: 20px;
	font-weight: 700;
	border: dashed 1px var(--tertiary-color);
	padding: 8px;
}

.brain-skills {
	display: flex;
	width: 100%;
	margin: 30px 0 30px 0;
	gap: 20px;
	justify-content: center;
	align-items: center;
}

.hard-skills-grid {
	width: 33%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px;
}

.hard-skills-grid img {
	max-width: 100%;
	height: auto;
}

.hard-skills-grid img:hover, .hard-skills-grid img:active {
	animation: jump 2s alternate infinite;
}

.brain {
	max-width: 33%;
}

.soft-skills-grid {
	width: 33%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
}

.experiences{
	display: flex;
	flex-direction: column;
	width: 90%;
	margin-bottom: 40px;
}

.experiences span {
	text-align: center;
	font-size: 20px;
	font-weight: 700;
	border: dashed 1px var(--tertiary-color);
	padding: 8px;
}

.experiences-content{
	display: flex;
	flex-direction: column;
	margin-top: 30px;
	gap: 50px;
}

.experiences-row{
	display: flex;
	gap: 30px;
}

.experiences-data{
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: start;
	width: 30%;
	border-right: solid 1px var(--tertiary-color);
}

.experiences-data span{
	font-size: 16px;
	font-weight: 400;
	color: var(--text-color);
	border: none;
	padding: 0;
}

.experiences-data p{
	display: flex;
	align-items: center;
	gap: 5px;
	font-size: 14px;
	font-weight: 400;
}

.experiences-description{
	width: 65%;
	font-size: 16px;
	font-weight: 400;
	line-height: 25px;

}

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}

@media (min-width: 501px) and (max-width: 1200px){
	.brain-skills {
		gap: 50px;
	}

	.hard-skills-grid{
		width: 33%;
		grid-template-columns: repeat(3, 1fr);
	}
	.hard-skills-grid img {
		max-width: 50px;
	}

	.brain{
		width: 0%;
	}

	.soft-skills-grid{
		width: 33%;
		grid-template-columns: repeat(1, 1fr);
	}

	.experiences-row{
		flex-direction: column;
		padding-bottom: 20px;
		border-bottom: solid 1px var(--secondary-color);
	}

	.experiences-data{
		width: 100%;
		border-right: none;
		border-bottom: solid 1px var(--tertiary-color);
		padding-bottom: 20px;
	}
}

@media (max-width: 500px) {
	.content {
		flex-direction: column;
	}

	.profile {
		width: 100%;
	}

	.brain-skills{
		gap: 5px;
	}

	.hard-skills-grid{
		width: 50%;
		grid-template-columns: repeat(3, 1fr);
		gap:15px;
		border-right: solid 1px var(--secondary-color);
		padding-right: 10px;
	}

	.brain{
		width: 0;
	}

	.soft-skills-grid{
		width: 50%;
		grid-template-columns: repeat(1, 1fr);
	}

	.experiences-row{
		flex-direction: column;
		padding-bottom: 20px;
		border-bottom: solid 1px var(--secondary-color);
	}

	.experiences-data{
		width: 100%;
		border-right: none;
		border-bottom: solid 1px var(--tertiary-color);
		padding-bottom: 20px;
	}

	.experiences-description{
		width: 100%;
		text-align: justify;
	}
}

.imagem-com-titulo {
	position: relative;
	display: inline-block;
  }
  
  .imagem-com-titulo:after {
	font-size: 12px;
	content: attr(data-title);
	position: absolute;
	top: 90%;
	left: 40%;
	background-color: var(--primary-color);
	color: var(--text-color);
	padding: 5px;
	display: none;
  }
  
  .imagem-com-titulo:hover:after {
	display: block;
  }